<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.vainiyasoft.agenda">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:backupAgent=".util.AgendaBackupAgent"
        android:name="mx.vainiyasoft.agenda.util.ApplicationContextProvider"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!--TODO: Coloca tu llave del servicio de respaldos de android con tu propio paquete-->
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="COLOCA AQUI LA LLAVE DE RESPALDOS PARA TU PROPIO PAQUETE" />

        <activity
            android:name="mx.vainiyasoft.agenda.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="mx.vainiyasoft.agenda.ConfiguracionActivity"
            android:label="@string/action_settings" />

        <service
            android:name="mx.vainiyasoft.agenda.net.HttpPostService"
            android:enabled="true" />
        <service
            android:name="mx.vainiyasoft.agenda.net.HttpGetService"
            android:enabled="true" />
        <service
            android:name="mx.vainiyasoft.agenda.net.HttpPutService"
            android:enabled="true" />
        <service
            android:name="mx.vainiyasoft.agenda.net.HttpDeleteService"
            android:enabled="true" />

        <provider
            android:name="mx.vainiyasoft.agenda.entity.ContactoProvider"
            android:authorities="mx.vainiyasoft.agenda"
            android:enabled="true"
            android:exported="false" />

        <receiver android:name="mx.vainiyasoft.agenda.widgets.ContadorContactosWidget">
        <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/contador_contactos_widget_info" />
        </receiver>
    </application>

</manifest>
