<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.acme.miscontactos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".util.ApplicationContextProvider"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ConfiguracionActivity"
            android:label="@string/action_settings" />

        <service
            android:name=".net.HttpPostService"
            android:enabled="true" />
        <service
            android:name=".net.HttpGetService"
            android:enabled="true" />
        <service
            android:name=".net.HttpPutService"
            android:enabled="true" />
        <service
            android:name=".net.HttpDeleteService"
            android:enabled="true" />

        <provider
            android:authorities="com.acme.miscontactos"
            android:name=".entity.ContactoProvider"
            android:exported="false"
            android:enabled="true" />

    </application>

</manifest>
