<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.vainiyasoft.agenda">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--Si deseas que las fotos se mantengan privadas al contexto de la aplicación, puedes-->
    <!--utilizar el directorio proporcionado por getExternalFilesDir(). En Android 4.3 y-->
    <!--anteriores, escribir en este directorio se requería el permiso WRITE_EXTERNAL_STORAGE-->
    <!--Comenzando con Android 4.4, el permiso ya no es requerido dedibo a que el directorio-->
    <!--no puede ser accedido por otras apps, dando como resultado que el permiso únicamente-->
    <!--se solicite en versiones Android 4.3 y anteriores, de la siguiente manera:-->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <!--Si es escencial para la app el que el dispositivo cuente con cámara, entonce se deberá-->
    <!--restringir la visibilidad en Google Play para sólo dispositivos con cámara-->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <!--Por el contrario si la app usa, pero no requiere de una cámara para poder funcionar, entonces-->
    <!--se deberá colocar required="false". HAciendo esto, Google Play permitirá que se instale-->
    <!--esta app en dispositivos que no cuenten con cámara. Por tanto es responsabilidad del-->
    <!--desarrollador el veririficar la existencia de la cámara en tiempo de ejecución-->
    <!--llamando al método hasSystemFeature(PackageManager.FEATURE_CAMERA)-->

    <application
        android:backupAgent=".util.AgendaBackupAgent"
        android:name="mx.vainiyasoft.agenda.util.ApplicationContextProvider"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!--TODO: Coloca tu llave del servicio de respaldos de android con tu propio paquete-->
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="COLOCA AQUI LA LLAVE DE RESPALDOS PARA TU PROPIO PAQUETE" />

        <activity
            android:name="mx.vainiyasoft.agenda.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="mx.vainiyasoft.agenda.ConfiguracionActivity"
            android:label="@string/action_settings"
            android:parentActivityName="mx.vainiyasoft.agenda.MainActivity">
            <!--Este elemento meta-data es requerido para versiones menores a 4.1-->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mx.vainiyasoft.agenda.MainActivity" />
        </activity>

        <service
            android:name="mx.vainiyasoft.agenda.net.HttpPostService"
            android:enabled="true" />
        <service
            android:name="mx.vainiyasoft.agenda.net.HttpGetService"
            android:enabled="true" />
        <service
            android:name="mx.vainiyasoft.agenda.net.HttpPutService"
            android:enabled="true" />
        <service
            android:name="mx.vainiyasoft.agenda.net.HttpDeleteService"
            android:enabled="true" />

        <provider
            android:name="mx.vainiyasoft.agenda.entity.ContactoProvider"
            android:authorities="mx.vainiyasoft.agenda"
            android:enabled="true"
            android:exported="false" />

        <receiver android:name="mx.vainiyasoft.agenda.widgets.ContadorContactosWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/contador_contactos_widget_info" />
        </receiver>

        <receiver android:name=".net.WifiMonitor">
            <intent-filter>
                <!--Se puede utilizar CONNECTIVITY_CHANGE para monitorear el cambio en la conexión-->
                <!--a internet, sin importar el medio (wifi, 3g, 4g, gprs, etc..)-->
                <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>-->
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
